/* DIRTY Responsive pricing table CSS */

/* 
- make mobile switch sticky
*/

article {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

#pricing-table ul {
    display: flex;
    top: 0px;
    z-index: 10;
    padding-bottom: 14px;
}

#pricing-table li {
    list-style: none;
    flex: 1;
}

#pricing-table li:last-child {
    border-right: 1px solid #DDD;
}

#pricing-table button {
    width: 100%;
    border: 1px solid #DDD;
    border-right: 0;
    border-top: 0;
    padding: 10px;
    background: #FFF;
    font-size: 14px;
    font-weight: bold;
    height: 60px;
    color: #999
}

#pricing-table li.active button {
    background: #F5F5F5;
    color: #000;
}

#pricing-table table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
}

#pricing-table th {
    background: #F5F5F5;
    display: none;
}

#pricing-table td,
th {
    background: #ffffff;
    height: 53px
}

#pricing-table td,
th {
    border: 1px solid #DDD;
    padding: 10px;
    empty-cells: show;
}

#pricing-table td,
th {
    text-align: left;
}

#pricing-table td+td,
th+th {
    text-align: center;
    display: none;
}

#pricing-table td.default {
    display: table-cell;
}

#pricing-table th {
    font-size: 1.8rem;
    color: white;
    background: rgb(117, 111, 111);
}

#pricing-table th.title {
    border: 0;
    color: initial;
    background: none;
}

#pricing-table th.bg-purple {
    background: #D08FAE;
}

#pricing-table th.bg-blue {
    background: #91CDE6;
}

#pricing-table th.bg-green {
    background: #B4DDB3;
}

#pricing-table .sep {
    background: #F5F5F5;
    font-weight: bold;
    text-transform: uppercase;
}

#pricing-table .sup-info {
    font-size: 12px;
    font-style: italic;
}

#pricing-table .txt-l {
    font-size: 28px;
    font-weight: bold;
}

#pricing-table .txt-top {
    position: relative;
    top: -9px;
    left: -2px;
}

#pricing-table .tick {
    font-size: 18px;
    color: #2CA01C;
}

#pricing-table .hide {
    border: 0;
    background: none;
}

@media (min-width: 640px) {
    #pricing-table ul {
        display: none;
    }

    #pricing-table td,
    th {
        display: table-cell !important;
    }

    #pricing-table td,
    th {
        width: 330px;

    }

    #pricing-table td+td,
    th+th {
        width: auto;
    }
}

@media (max-width: 641px) {
    #pricing-table thead {
        display: none;

    }

    #pricing-table ul {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

}