* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body,
* {
    font-family: sans-serif;
}

article {
    position: relative;
}

h1 {
    font-family: 'Asul', sans-serif;
    margin-top: 5px;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Asul', sans-serif;
    padding: 45px 0px 35px 0px;
    margin-top: 0px;
    font-size: 55px;

}

h2 span {
    font-family: 'Asul', sans-serif;
}

h3 {
    font-weight: 700;

}

h4 {
    text-align: center;
    font-family: 'Asul', sans-serif;
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 10px;

}

h5 {

    font-size: 18px;
}

title {
    text-transform: capitalize;
}

p {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}

a {
    color: #567EBB;
}

a:hover {
    color: #31539e;
    text-decoration: none;
}

ul {
    list-style: none;

}

li {
    padding-bottom: 7px;
}

em {
    display: block;
    margin-bottom: 10px;
    font-weight: 300;

}

pre {
    max-width: 100%;
}

/*Bootstrap fixer styles */
.container {
    max-width: 1170px;
    overflow: hidden;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.center-text {
    text-align: center;
}



/* NAVBAR STYLES */


.navbar a {

    font-size: 20px;
}

.navbar-brand {
    z-index: 1000;
    padding: 15px;
}


#navbar-heading {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 85px;
    font-family: 'Asul', sans-serif;
    overflow: visible;
    z-index: 10000000;
    margin: 0;
    padding: 0;
    -webkit-transition: margin 0.4s ease, font-size 0.4s ease;
    -moz-transition: margin 0.4s ease, font-size 0.4s ease;
    -o-transition: margin 0.4s ease, font-size 0.4s ease;
    transition: margin 0.4s ease, font-size 0.4s ease;
}

.navbar-nav {
    margin-top: 5px;

}

#navbar .navbar-nav .nav-item{
    margin: 5px;

}

.navbar-toggler {
    margin-right: 15px;
}

.navbar-wrapper .container {
    overflow: initial;

}

.navbar-wrapper .navbar {
    padding: 0;

}

.navbar-nav .dropdown-item:active {
    background: none;
    color: #007bff;
}

.navbar-nav .dropdown-toggle::after {
    margin-left: 0;
    vertical-align: .1em;
}

#brand-div {
    display: flex;
    align-items: center;
}

#brand-div img {
    padding: 5px;
    padding-top: 25px;
    padding-right: 20px;

    height: 110px;
    width: auto;
    -webkit-transition: height 0.4s ease, padding 0.4s ease;
    -moz-transition: height 0.4s ease, padding 0.4s ease;
    -o-transition: height 0.4s ease, padding 0.4s ease;
    transition: height 0.4s ease, padding 0.4s ease;
}

.navbar-default {
    background: rgba(255, 255, 255, 0);
    overflow: visible;
    margin-bottom: 0px;
    border: none;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    transition: background 0.4s ease;
}


/* On scroll shrink menu */
.navbar.shrink {
    background: rgba(255, 255, 255, 1);

}

.navbar.shrink #navbar-heading {
    font-size: 40px;
    line-height: 50px;
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 0px;

}

.navbar.shrink #brand-div img {
    height: 55px;
    padding-top: 5px;
    padding-right: 5px;

}

@media (max-width:978px) {
    #navbar-heading {
        font-size: 48px;
        margin-top: 20px;
    }

    .navbar #brand-div img {
        padding-top: 5px;
        max-height: 65px;

    }

    .navbar.shrink #brand-div img {
        margin-top: 0px;

    }

    .navbar a {
        font-size: 18px;
    }

    .navbar-nav .dropdown-menu {
        border: 0;
        text-align: center;
    }
    #navbar .navbar-nav .nav-item {
        padding-bottom: 0;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        background: white;

    }



}

@media (max-width:978px) {
    h1 {
        font-size: 34px;

    }
}

@media (max-width:580px) {

    #navbar-heading {
        padding-right: 0px;
        margin-top: 10px;
        font-size: 50px;
    }

    .navbar-nav {
        margin-top: 0px;

    }

    #brand-div img {
        height: 95px;
        padding: 5px 5px 5px 15px;
    }

    .navbar.shrink #navbar-heading {
        font-size: 34px;

    }

    h2 {
        font-size: 35px;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 5px;
    }

}


/* social buttons */
#thankYouAdBlockersDiv {
    position: fixed;
    top: 130px;
    right: 0px;
    z-index: 10000;
}

/* footer socials */
.ISAIDTHANKYOU {
    display: flex;
    justify-content: center;
}


#mainBodyContainer {
    width: 100%;
    border-top: 7px solid #34508e;
}

.border-divider-top {
    margin-top: 0px;
    border-top: 7px solid #34508e;
}

.fade-gradient {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f3f4+0,000000+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(246, 243, 244, .6) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(246, 243, 244, .6) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(246, 243, 244, .6) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f3f4', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

.project-detail-title {
    background: -moz-linear-gradient(bottom, rgba(246, 243, 244, .4) 0%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, rgba(246, 243, 244, .4) 0%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, rgba(246, 243, 244, .4) 0%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f3f4', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

#mainBodyContainer.on-home-page {
    border-top: 0;
}

.container-fluid.subtle-background {
    background: url("../images/background-texture-vertical.jpg");
}

.mainBodyContent {
    background: none;
    padding-bottom: 35px;
}

.mainBodyContent.subtle-background {
    background: url("../images/background-texture-vertical.jpg");
}

.mainBodyContent.inverse {
    background: url("../images/background-texture-vertical-inverse.jpg");

}

.mainBodyContent.inverse h2,
.mainBodyContent.inverse label {
    color: white;
}

.killPadding {
    padding: 0px !important;
    margin-bottom: 0px;
}

.thankYouAdBlocker {
    margin: 5px;
    display: block;
}

.floatImage {
    float: left;
}

.carousel-inner {
    background: white;
}

.carousel-outer-div {
    margin-top: 45px;
    margin-bottom: 45px;
}



.carousel-sizing-preview {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#offerDiv {
    background-image: url("../images/main-offer-background11.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    padding-bottom: 0px;
}

/*FOR OUTRAGEOUSLY LARGE SCREENS*/
@media(min-width:2000px) {
    #offerDiv {
        background-size: initial;
    }
}

#offer-text {
    padding-left: 10px;
    padding-right: 10px;
    color: #34508e;
    font-family: 'Noto Sans', sans-serif;
}

#customText {
    font-style: italic;
    color: #776A6A;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    clear: both;

}


@media (max-width:750px) {
    #offerDiv {    
        background-position-y: -70px;
        background-size: auto;
    }

    #offerDiv p {
        font-size: 18px;
        padding: 0px 7px;
    }

    .mainBodyContent {
        background: url("../images/background-texture-vertical.jpg");
    }
}

.fa-check-square-o {
    color: green;
}

#main-text-offer-div {
    margin-top: 150px;
    background: rgba(255, 255, 255, .5);
    padding: 0px;

}

@media (max-width:750px) {
    #main-text-offer-div {
        margin-top: 120px;
    }

    #offer-text {
        padding-bottom: 10px;
    }
}

.check-mark-text {
    font-size: 20px;

}

.skill-icon {
    max-width: 100%;
    width: 200px;
}

.expertise-panel .skill-icon {
    margin-top: 20px;
}

#projectsDiv {
    padding-top: 25px;
}

#offerDiv .btn-primary {
    background: #6997F1;
    border-color: #6997F1;
}

.btn-light {
    border-color: #d9d9d9;
}

#offerDiv .btn-primary:hover,
#offerDiv .btn-primary:focus,
#offerDiv .btn-primary:active {
    background: #34508e;
}

.project-more-info-button {
    margin: 20px 0px;
    font-size: 20px;
    border: 2px solid #333;
}

.text-panel {
    background: white;
    border: 2px solid #efefef;
    border-radius: 15px;
    padding: 17px;
    margin: 15px 0px;
    height: auto;
    content: "";
    display: table;
    clear: both;
}

.about-panel {

    border: none;
}

.text-panel p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.projects-col-6 {
    margin-bottom: 15px;
}

.project-tag-span {
    background: #fff;
    color: rgb(70, 55, 43);
    border: 1px solid rgb(70, 55, 43);
    padding: 3px 10px;
    display: inline-block;
    margin: 0px 5px 5px 5px;
    border-radius: 20px 7px 7px 20px;
    ;
}

.siteNameHeading {
    text-align: center;
    font-size: 22px;
    padding-bottom: 15px;

}

.site-thumb {
    margin-right: 10px;
    width: 150px;
    max-width: 35%;
}

#aboutDiv {
    padding: 15px;
}

.about-p {
    font-size: 18px;
    margin: 20px;
}

@media (min-width:750px) {
    .about-panel {

        margin-top: 65px;
    }

    #offer-text {
        font-weight: bold;
    }

    .siteNameHeading {
        font-size: 36px;
        text-align: left;

    }
}


#form-messages {
    text-align: center;
    font-size: 22px;
    padding: 15px 0px;
    margin: 10px 0px;
}

footer {
    padding: 15px;
    background: black;
    color: white;

}

footer a {
    color: #efefef;

}

footer a:hover,
footer a:focus {
    color: #d6d6d6;

}



/*project pages style*/

.project-tools-div,
.project-tools-p {
    margin: 35px 0px 5px;
}

.project-responsive-img {
    margin: 40px auto 10px;
}

.project-supporting-text-div {
    padding: 10px;
    background: white;
}



.project-design-img {
    margin-top: 25px;
    margin-bottom: 25px;
}

.project-description-div>.row {
    padding-top: 35px;
}

.project-description-div>.row .col-sm-3 h3 {
    margin-top: 35px;
}

.project-description-div h3 {
    color: grey;
    font-size: 25px;
    border-right: 3px solid #19289C;
}

.project-description-div h4 {
    text-align: left;
    padding-top: 0;
}

.dev-vs-design-div {
    margin-bottom: 25px;
    margin-top: 7px;

}

.project-supporting-text-div .projectsDiv-panel {
    margin-top: 25px;
}

.project-supporting-text-div .projectsDiv-panel {
    padding: 0px 10px;
}

.project-supporting-text-div .projectsDiv-panel .row{
    padding-bottom: 35px;
}
.project-supporting-text-div .projectsDiv-panel:last-child {
    padding-bottom: 0;
}


.dev-vs-design-div p.mx-auto {
    margin-top: 20px;
}

@media (max-width: 768px) {

    .projectDescriptionParagraph {
        margin: 15px;
    }

    .check-mark-text {
        position: relative;
        bottom: 5px;
    }

    .project-description-div h3 {
        border-right: 0px solid black;
    }
}

@media (min-width: 769px) {
    .check-mark-text {
        position: relative;
        bottom: 5px;
        text-align: center;
    }

    .project-description-div h3 {
        text-align: right;
        padding-right: 10px;
    }

    .project-tools-div h3,
    .project-tools-div p {
        text-align: right;
    }



}

.clickable-image{
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;

    max-height: 321px;
    overflow: hidden;

    cursor: pointer;
    position: relative;

    margin: 10px;
}

.clickable-image:hover {
    background: black;
}

.clickable-image .title {
    background-color: rgba(0,0,0, .6);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.clickable-image .title h5 {
    font-weight: bold;
    margin: 10px 0;
}

.clickable-image img {
    opacity: 1;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
.clickable-image:hover img{
    opacity: .7;
    transform: scale(1.05);
}
.clickable-image:hover .title{
    background-color: rgba(0,0,0, 1);
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
    }
}


@media (min-width: 992px) {
    .modal-lg {
        max-width: 1000px;
    }
}




/* Process page style */

.process em {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.process em:target::before {
    content: "";
    display: block;
    height: 80px;
    /* fixed header height*/
    margin: -80px 0 0;
    /* negative fixed header height */
}

.process p {
    margin-left: 10px;
    font-size: 15px;
}

.process h3 {
    margin-top: 45px;
    font-size: 26px;
}

.process h3:first-child {
    margin-top: 0px;
}

.process.mainBodyContent ul {
    margin-left: 35px;

}

.process.mainBodyContent ul.nav {
    margin-left: 15px;

}

.process.mainBodyContent ul.nav li a {
    font-size: 22px;
    padding: 8px 15px;

}

.process.mainBodyContent ul.nav li {
    padding: 0;

}

.process.mainBodyContent ul.nav li .nav a {
    font-size: 16px;
    padding: 8px 15px;

}

.process.mainBodyContent ul.nav li .nav a:active,
.process.mainBodyContent ul.nav li .nav a.active {
    background: #efefef
}

/* affix, accordion, and scrollspy styles */
#affix-and-content {
    display: flex;
}

#affix-and-content aside {
    display: flex;
    flex: 1;
}

.affix-container {
    display: flex;
    flex: 1;
}

.affix-container .navbar {
    align-items: flex-start;
}


#affix-sidebar-scrollspy {
    padding: 10px;
}



.navbar.affix {
    position: fixed;
    width: inherit;
    top: 80px;
    z-index: 1;
    transition: all .35s ease;
}

.navbar.bottom {
    display: flex;
    align-self: flex-end;
}

.navbar.bottom .full-width {
    width: 100%;
}

.card-default {
    border: 0;
    margin-bottom: 10px;
}

.card-default .card-header {
    background: #776A6A;
    color: white;
}

.card-default .card-header:hover,
.card-default .card-header:focus,
.card-default .card-header:active,
.card-default .card-header:visited {
    color: #776A6A;
    background: #efefef;

}

/* hierarchical tree ul */

ul.tree,
ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tree ul {
    margin-left: 10px;
}

ul.tree li.h-2 {
    font-size: 22px;
    padding-top: 25px;

}

ul.tree li.h-3 {
    font-weight: bold;
    font-size: 17px;
    padding-top: 15px;

}

ul.tree li.h-4 {
    font-weight: bold;
    padding-top: 10px;

}

ul.tree li {
    margin: 0;
    padding: 0 7px;
    line-height: 24px;
    border-left: 1px solid rgb(100, 100, 100);
    font-size: 15px;
    font-weight: normal;

}



ul.tree>li:first-child {
    border-left: 0;
}

ul.tree li:last-child {
    border-left: 0;
}

ul.tree>li:first-child:before {
    display: none;
}

ul.tree>li:last-child:before {
    display: none;
}



ul.tree li:before {
    position: relative;
    top: -0.3em;
    height: 1em;
    width: 12px;
    color: white;
    border-bottom: 1px solid rgb(100, 100, 100);
    content: "";
    display: inline-block;
    left: -7px;
}

ul.tree li:last-child:before {
    border-left: 1px solid rgb(100, 100, 100);
}